@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


/* hero section */

.slid .cont-slid{
    width: 40%;
}
.hero .slid{
    background-image: url(../../assets/images/hero.png);
    background-position: 20%;
    object-fit: cover;
    padding: 35px;
    width: 100%;
    height: 63vh;
    background-color: #f7f7f7;
    border-radius: var(--border);

}
.slid .line-offer{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.slid .line-offer span{
    font-size: .8em;
    color: var(--main-color);
    border-radius: 50px;
    padding: 10px;
    background-image: linear-gradient(to right, var(--disabled-color), transparent);
}
.slid .line-offer p{
    font-size: .6em;
}
.hero .btn{
    margin: 15px 0;
    border-radius: 50px;
    background-color: var(--main-color);
    color: #f3f3f3;
}
.hero .btn:hover{
    background-color: var(--hover-color);
    color: #f3f3f3;
}
.tag-line{
    margin: 10px 0;
    padding: 15px;
    border-radius: var(--border);
    background-color: #b7b7b7;
    background-image: url(../../assets/images/bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--active-color);
    font-weight: bold;
    animation: viewer-to-right both;
    animation-timeline: view();  
    animation-range: entry 0 cover 20%;  
    /* flex-direction: column; */
}
/* offer time section */
.offer-down{
    margin: var(--margin-home);
}
.offer-down .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;  
}
.offer-down .timer > *{
    animation: viewer-to-left both;
    animation-timeline: view();  
    animation-range: entry 0 cover 20%;  
}
.offer-down .timer span{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.offer-down .timer .counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.offer-down .timer .counter div{
    width: 45px;
    height: 55px;
    border-radius: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.offer-cards{
    overflow: hidden;
}
.offer-card{
    max-width: 270px;
}
.offer-card .top-card{
    overflow: hidden;
    height: 200px;
    display: flex;
    text-align: center;
}
.offer-card .top-card img{
    min-height: inherit;
    width: 100%;
    transition: all .3s ease-in-out;
}
.offer-card .top-card img:hover{
    transform: scale(1.1);
}
.offer-card .top-card .offer{
    border-radius: var(--border);
    background-color: var(--hover-color);
    color: #fff;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-card .body-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-decoration: line-through; */
}
.offer-card .body-card .bar{
    width: 90%;
    background-color: rgb(194, 194, 194);
    height: 5px;
    border-radius: 15px;
    margin: 5px 0;
}
.offer-card .body-card .bar div{
    background-color: var(--active-color);
    height: 100%;
    border-radius: 15px;
}
.bg-img-red-public{
    background-image: url(../../assets/images/hero-button-lifte.jpg);
    background-position: 50% 0%!important;
}
.bg-img-blue-public{
    background-image: url(../../assets/images/bg1.jpeg);

}


/* responsive design */
@media (max-width: 768px) {
    body{
        overflow-x: hidden;

    }
    .cont-slid h2{
        font-size: 20px;
    }
    .tag-line span{
        font-size: 13px;
        margin-right: 100px;
    }
    .tag-line .btn{
        font-size: 9px;
        margin-right:100px;
    
    }
    .tag-line{
        display: flex;
        flex-direction: column;
    }
    .offer-down{
        margin: 0 80px;
        /* background-color: aqua; */
    }
    .offer-card .top-card{
    height: 150px;
    display: flex;
    text-align: center;
}
}
@media (max-width: 576px){


}