header{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}
.dueto{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #49BFAA;
}
.duetotext{
    font-size: 12px;
    padding-top: 8px;
}
/* //////////////// */



ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #3E445A;
}

.navul-1{
    width: 300px;
    font-size: 13px;
}
.text-for-navbar{
    /* width: 75%; */
    font-size: 13.5px;
}
.line-vertical{
    width: .5px;
    height: 5px;
    background-color:rgb(128, 128, 128,0.5);
    margin: 2px;
    margin: 0  10px;
}
.number{
    color: #49BFAA;
}
.select{
    padding-left: 20px;
    border: none;
}

.first-navbar{
    margin-bottom: -25px;
}
/* /////////////////////////////////////////////////////////////////////////// */


/* //// */
.input-text{
    margin: 0 10px;
    width:60%;
    height: 40px;
   background-color: #F0F1F2;
    border-radius: 50px;
   margin-right: 20px;
}
.input-text input{
    border: none;
    background-color: #F0F1F2;
    width: 90%;
    font-size: 15px;
    padding-left: 20px;
}
.input-text i{
    font-size: 25px;
    padding-top: 7px;
}   

.user-price-cart{
    width: 20%;
}
.user{
    width: 40px;
    height: 40px;
    text-align: center;
    border: #49BFAA .3px solid ;
    border-radius: 50%;
}
.user i{
    padding-top: 10px;
    font-size: 20px;
    color: #49BFAA;
}
.price{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.price p{
    padding-top: 7px;
    font-size: 16px;
}
.cart{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color:#F2E5E4;
    border-radius: 50%;
}
.cart i{
    color: red;
    padding-top: 10px;
    font-size: 20px;
}
.cart span{
    position: absolute;
    margin-left: 1px;
    margin-top: -1px;
    height: 18px;
    width: 18px;
    font-size: 12px;
    color: white;
    background-color: red;
    border-radius: 50%;
}

.navbar2{
    margin: auto;
}
.navul li ,.navul a{
    /* margin-top: 5px; */
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s;
    border-radius: 25px;
    color: #3F4659;
}
 .navul li:hover{
    background-color:#49BFAA;
}
.navul li:hover a{
    color: white;
}

/* responsive */

@media (max-width: 768px) {
    .first-navbar{
        flex-direction: column;
        align-items: center;
    }
    .img{
        width: 150px;
        height: auto;
    }
    .input-text{
        width: 100%;
        height: 50px;
        margin: 5px;
    }
    .input-text input{
        font-size: 13px;
    }
    .input-text i{
        font-size: 20px;
        padding-top: 10px;
    }
    .user-price-cart{
        width: 30%;
        padding: 10px;
    }
    .user, .price, .cart{
        width: 30px;
        height: 30px;
    }
    .user i, .cart i{
        font-size: 15px;
        padding-top: 7px;
    }
    .price p{
        font-size: 12px;
        padding-top: 5px;
    }
    .cart span{
        height: 15px;
        width: 15px;
        font-size: 10px;
        margin-left: 0;
        margin-top: -1px;
    }
    .navul li, .navul a{
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 567px) {
    .duetotext{
    font-size: 9px;
    padding-top: 10px;
}
    .first-navbar{
        flex-direction: column;
        align-items: center;
    }
    .text-for-navbar{
    font-size: 10px;
}
    .img{
        width: 100px;
        height: auto;
    }
    .input-text{
        height: 35px;
        margin: 3px;
    }
    .input-text input{
        font-size: 10px;
         padding-left: 5px;
    }
    .input-text i{
        font-size: 12px;
        padding-top: 4px;
    }
    .user-price-cart{
        display: flex;
        justify-content: space-around;
    }
    .user, .price, .cart{
        width: 25px;
        height: 25px;
    }
    .user i, .cart i{
        font-size: 12px;
        padding-top: 5px;
    }
    .price p{
        font-size: 10px;
        padding-top: 5px;
    }
    .cart span{
        height: 12px;
        width: 12px;
        font-size: 8px;
        margin-left: 0;
        margin-top: -1px;
    }
    .navul li, .navul a{
        font-size: 10px;
        padding: 4px;
    }
    
}