.swiper-button-prev,
.swiper-button-next {
  background: #fff;
  color: #000 !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
  font-weight: bold;
}
